/*div{
    width:400px;
    height:200px;
border:2px solid;
background-color: blue;
}

.box2{
    transform:rotate(180deg)
}

.box3{
    transform:skewX(20deg);
}


.img1{
    transform:rotateX(180deg);
   
}

.img1:hover{
    transition:transform 2s;
}


.img2{
    transform:rotate(60deg);
}

.img2:hover{
    transition:transform 2s;
}

.img3{
    transform:rotate(60deg);  
}

.img3:hover{
    transition:transform 2s; 
}


/*Grid*/

/*.container{
    background-color: chartreuse;
    display: grid;
    row-gap:2px;
    column-gap:2px;
    
}

.item1, .item2, .item3{
    background-color:pink;
    height:20px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;

}

.item2{
    grid-column-start:1 ;
    grid-column-end: 2;
}*/

/*Task*/



.header{
    grid-area:header;
    border:2px solid black;
}
.navbar{
    grid-area:navbar;
}
.sidebar{
    grid-area:sidebar;
}

.main{
    grid-area:main;
    border:2px solid red;
}
.footer{
    grid-area:footer;
}

.container{
    background-color: beige;
    border:2px black solid;
    
    column-gap: 2px;
    row-gap: 2px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'header header header header'
    'navbar navbar navbar navbar'
    'sidebar sidebar main main'
    'footer footer footer footer';
}
    






